//Buttons
.btn {
  padding: 1.5rem 2rem;
  background-color: $color-dark-1;
  color: $color-light-1;
  letter-spacing: 1.5px;
  border-radius: 13px;
  @include fontXs;
  transition: all 0.3s ease-in;

  &:hover,
  &:focus {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #696969;
  }
}

// Navigation
.nav {
  position: absolute;
  top: 0;
  left: -30%;
  height: 100%;
  width: 30%;
  background-color: #000000;

  a.nav__logo {
    display: block;
    width: 75%;
    margin: 2rem auto;
  }

  &__list {
    height: auto;
    max-height: 100%;
    width: 60%;
    text-align: center;
    margin: 4rem auto;
    border: 2px solid red;

    &-item {
      display: inline-block;
      color: $color-light-1;
      @include fontLg;
      margin: 3rem 0;
      transition: color 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $color-light-2;
      }
    }
  }
}

// header
.header {
  &__nav {
    margin-left: 5rem;
    i.fas {
      font-size: 6rem;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__menu {
    &-item {
      display: inline-block;
      @include fontSm;
      margin: 0 1rem 0 2rem;
      transition: all 2s ease-in;

      &.header-active {
        @include fontMd;
        text-decoration: underline;
      }
    }
  }

  &__user {
    margin-right: 5rem;
    display: flex;
    align-items: center;

    & * {
      margin: 0 5px;
    }

    &-search {
      position: relative;
      display: flex;
      align-items: center;

      .search-input {
        width: 0;
        // padding: none;
        padding: 1rem 1rem;
        visibility: hidden;
        border-radius: 13px;
        border: 1px solid $color-dark-1;
        transition: all 0.5s ease-in;

        &:focus {
          outline: none;
        }
      }

      .search-icon {
        position: absolute;
        right: 0;

        &:focus {
          outline: none;
        }
      }

      &:focus-within .search-input {
        visibility: visible;
        width: 20rem;
      }
    }
  }
}

// Selection & Product Header
.header.selection__header {
  position: relative;

  .header__logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 90%;
    width: auto;
  }

  .header__user {
    margin-left: auto;
  }
}

// Featured Item Component
// .featured__item {
//   width: 20rem;
//   height: 5rem;
//   // background-color: $color-light-2;
//   // border: 2px solid $color-dark-1;
//   color: #ffffff;
//   border-radius: 13px;
//   position: absolute;
//   @include flex-column;
//   justify-content: space-evenly;
//   transition: all 0.8s ease-in;

//   &-title {
//     color: $color-dark-1;
//     font-size: 3rem;
//     transition: all 0.4s ease-in;
//   }

//   &-desc {
//     display: none;
//     font-size: 1.4rem;
//   }

//   &:hover,
//   &:focus {
//     background-color: $color-dark-1;
//     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
//     height: 10rem;
//   }
//   &:hover > .featured__item-title,
//   &:focus > .featured__item-title {
//     color: $color-light-1;
//   }
//   &:hover > .featured__item-desc,
//   &:focus > .featured__item-desc {
//     display: inline-block;
//     color: $color-light-1;
//   }
// }
