.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-main {
  width: 100vw;
  height: 90vh;
  @include flex-column;
  background-color: $color-light-3;
  position: relative;
}

.man-main,
.woman-main {
  display: flex;
  width: 100vw;
  height: 90vh;
}
