@media screen and (max-width: 1400px) {
  //HOME PAGE
  .home-main {
  }

  // MAN/WOMAN PAGE
  .featured__main {
    &-image {
      left: 90%;
      transform: translateX(-90%);
    }
  }
  .featured__bottom-box:nth-of-type(1) {
    .featured__box-img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1136px) {
  //HOME PAGE
  .home {
    &__title {
      font-size: 18rem;
    }

    &__subheading {
      @include fontSm;
    }
  }

  // MAN/WOMAN PAGE
  .featured {
    width: 75%;
  }
  .featured__bottom-title {
    @include fontSm;
  }
  .categories {
    width: 25%;
    height: auto;
  }
  .category {
    width: 95%;
    height: 25rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 0;
    border-radius: 13px;
    border-bottom: none;

    & img {
      height: 80%;
    }

    &__title {
      height: 20%;
      @include fontXs;
    }
    &:hover,
    &:focus {
      background-color: $color-light-4;
    }
  }
}

@media screen and (max-width: 836px) {
  //HOME PAGE
  .offer {
    * {
      @include fontXs;
    }
  }

  // MAN/WOMAN PAGE
  .featured {
    width: 65%;
  }
  .featured__main {
    height: 25%;

    &-image {
      left: 95%;
      transform: translateX(-95%);
    }

    &-btn {
      padding: 1rem;
    }
  }

  .featured__main-desc {
    transform: translate(-15%, -50%);

    .featured__main-title {
      @include fontSm;
      width: 15rem;
      margin: 1rem 0;
    }

    .featured__main-logo {
      height: 150%;
    }
  }

  .featured__bottom {
    height: 75%;
    grid-template-columns: unset;
    grid-template-rows: 33% 33% 33%;
  }

  .featured__bottom-box {
    align-items: flex-start;
  }

  .featured__bottom-title,
  .featured__bottom-link {
    margin-left: 15%;
    width: 10rem;
    text-align: center;
  }

  .featured__bottom-title {
    @include fontSm;
    color: $color-dark-1;
    margin-bottom: 1rem;
  }

  .featured__bottom-link {
    color: $color-dark-1;

    &:hover {
      color: $color-light-1;
    }
  }

  .featured__bottom-box:nth-of-type(1) {
    background-color: rgba(#8b8b8b, 0.1);
    position: relative;

    .featured__box-img {
      top: unset;
      bottom: 0;
      left: 85%;
      transform: translateX(-85%);
      height: 75%;
      width: auto;
    }
  }

  .featured__bottom-box:nth-of-type(2) {
    .featured__box-img {
      bottom: 0;
      top: 0;
      left: 75%;
      transform: translateX(-75%);
      width: auto;
      height: 100%;
    }
    .featured__bottom-title {
      @include fontSm;
      color: $color-dark-1;
    }
    .featured__bottom-link {
      color: $color-dark-1;
    }
  }

  .categories {
    width: 35%;
  }
}

@media screen and (max-width: 636px) {
  //HOME PAGE
  .home {
    &__title {
      font-size: 10rem;
    }
  }

  // header
  .header {
    &__nav {
      margin-left: 1rem;
      i.fas {
        font-size: 4rem;
      }
    }
    &__menu {
      &-item {
        margin: 0 0.5rem;
      }
    }

    &__user {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 500px) {
  //HOME PAGE
  .home {
    &__title {
      font-size: 8rem;
    }
  }
  .home__image {
    height: auto;
    width: 85%;
  }

  

  // MAN/WOMAN PAGE
  .categories-main {
    flex-direction: column;
  }
  .featured {
    width: 100%;
    height: 25%;
  }

  .featured__main {
    width: 100%;
    height: 100%;
  }

  .featured__bottom {
    display: none;
  }

  .categories {
    height: 75%;
    width: 100%;
    padding-top: 2rem;
  }

  .category {
    width: 45%;
  }
}
