// Navigation
.nav {
  position: absolute;
  top: 0;
  left: -30%;
  height: 100%;
  width: 30%;
  background-color: #000000;

  &__list {
    height: auto;
    max-height: 100%;
    width: 60%;
    text-align: center;
    margin: 4rem auto;
    border: 2px solid red;

    &-item {
      display: inline-block;
      color: $color-light-1;
      @include fontLg;
      margin: 3rem 0;
      transition: color 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $color-light-2;
      }
    }
  }
}
