.featured {
  width: 60%;
  height: 100%;
  background-color: $color-light-2;
  position: relative;

  &__man-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
  }

  // featured item is on the components page
}

// Man Featured Items
.man__featured-item {
  background-color: rgba($color-light-2, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.featured__item.man-featured-item-1 {
  top: 20%;
  left: 10%;
}
.featured__item.man-featured-item-2 {
  top: 60%;
  right: 10%;
}

// Man Categories Sections
.categories {
  width: 40%;
  height: 100%;
  overflow-y: auto;
  @include flex-row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(#d7d7d7, 0.2);
}

.category {
  width: 45%;
  height: auto;
  margin-bottom: 3rem;
  @include flex-column;
  border-bottom: 3px solid $color-light-2;

  & img {
    height: 65%;
    width: auto;
    max-width: 100%;
  }

  &__title {
    color: $color-light-3;
    @include fontSm;
    margin: 1.5rem 0;
    transition: all 0.4s ease-in;

    &:hover {
      transform: scale(1.1);
      color: $color-light-2;
    }
  }
}
