.man-main {
  display: flex;
  width: 100%;
  height: 100%;
}

.featured {
  width: 60%;
  height: 100%;
  background-color: $color-light-2;
  position: relative;

  &__man-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
  }

  // featured item is on the componenets page
}

.featured__item.man-featured-item-1 {
  position: absolute;
  top: 10%;
  left: 10%;
}
.featured__item.man-featured-item-2 {
  position: absolute;
  top: 60%;
  right: 10%;
}

.categories {
  width: 40%;
  height: 100%;
  @include flex-column;
}
