.main-popup {
  background-color: $color-dark-1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20rem;
  color: white;
}

.popup__title {
  @include fontLg;
  margin-bottom: 5rem;
  letter-spacing: 5px;
}

.popup {
  @include fontMd;
  width: 80%;
  height: 60%;

  td {
    text-align: center;
  }
}
