.selection-banner {
  width: 100%;
  height: auto;
  img {
    width: 100%;
  }
}
.main-selection {
  width: 100%;
  height: 100%;
  z-index: 200;
  margin-top: 2%;
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, 40rem);
  grid-gap: 2%;
  justify-content: center;
}

.selection:nth-of-type(2) {
  background-color: rgba($color-dark-2, 0.2);
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 12px 15px rgba($color-dark-1, 0.2);

  .selection__img {
    width: 100%;
  }

  &:hover {
    background-color: rgba($color-dark-2, 0.5);
    transform: translate(-3px, -5px);
  }

  .selection__title {
    @include fontLg;
  }
  .selection__price {
    @include fontMd;
  }
}

.selection:not(.selection:nth-of-type(2)) {
  // width: 75%;
  // margin: 0 auto;
  background-color: rgba($color-dark-1, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 12px 15px rgba($color-dark-2, 0.2);
  // display: flex;
  // justify-content: space-around;
  // align-items: center;

  &:hover {
    background-color: rgba($color-dark-1, 0.5);
    transform: translate(-3px, -5px);
  }

  // .selection__img {
  //   width: 70%;
  // }
  .selection__img {
    height: 80%;
  }

  .selection__title {
    @include fontLg;
  }
  .selection__price {
    @include fontSm;
  }
}

.header__icons {
  a:last-of-type {
    position: relative;
  }
}
