.header {
  width: 100vw;
  height: 10rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;

  a.header__nav-btn {
    color: #fff;
    margin-left: 5rem;
    margin-right: auto;
    cursor: pointer;
    z-index: 250;
  }

  &__menu {
    @include fontMd;

    &-item {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1rem;
    }

    a.header__menu-item {
      text-decoration: underline;
      // position: relative;

      img {
        height: 15rem;
        position: absolute;
        top: 10%;
      }
    }
  }

  &__icons {
    width: 20rem;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 5rem;

    & i {
      color: #fff;
      cursor: pointer;
    }
  }
}

i.fas-dark,
i.fab-dark {
  color: #000000;
}

i.fas-grey {
  color: grey;
}

.header__menu.header__dark a,
.header__menu.header__dark p {
  color: #000000;
}

.header__short {
  width: 60vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  & a.header__nav-btn {
    margin-right: 2rem;
  }

  .header__menu {
    @include fontXs;
  }
  .header__menu-img img {
    height: 15rem;
    position: absolute;
    top: 10%;
    right: 5%;
  }
}

.header__long {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  & a.header__nav-btn {
    margin-right: 1rem;
  }

  .header__menu {
    @include fontXs;

    p {
      display: inline-block;
    }
  }
  .header__menu-img img {
    height: 15rem;
    position: absolute;
    top: 10%;
    right: 50%;
  }
}

// .header__long.header__dark {
//   & a.header__nav-btn {
//     color: #000000;
//   }
// }

.menu__active {
  @include fontMd;
}
