// Navigation(side)
.nav-container {
  display: flex;
}

.nav-container-side {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease-in;
  //   transition-delay: .5s;
}
.nav-container-active {
  right: 0;
}

.nav {
  position: absolute;
  top: 0;
  left: -25%;
  text-align: center;
  color: #fff;
  height: 100%;
  width: 25%;
  background-color: #000;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  transition: all 2s ease-in;

  &__header {
    margin: 5rem 0;
    @include fontXl;
    text-transform: uppercase;
  }

  &__list {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-item {
      @include fontMd;

      a {
        color: #fff;
        position: relative;
        @include drawUnderline;
      }
    }
  }

  .social-icons {
    margin-top: auto;
    margin-bottom: 5rem;
    width: 20rem;
    display: flex;
    justify-content: space-around;

    & a {
      cursor: pointer;
    }
  }
}

.nav-active {
  left: 0;
  display: flex;
}
